<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AULA 5</title>
</head>
<body>
    <h1>IF/ELSE STATEMENT</h1>
    <p>
        <% if (name && age) { %>
            Muito bem, <%= name %>! Você tem <%= age %> Anos!
        <% } else { %>
            NOME E/OU IDADE ESTÁ VAZIO. DIGITE NA URL: <br>
            <code>
                http://localhost:8000/5?name=VILHALVA&age=28
            </code>
        <% } %>
    </p> <br>

    <a href="/">VOLTAR AO MENU</a>
</body>
</html>
